<div class="normal-header unregistered">
    <div class="normal-header-contents">
        <h1 class="logo">プレミアム特典コンテンツ</h1>
        <div class="kv">
            <p class="kv-limited-video">限定動画も！</p>
            <p class="kv-minogashi">見逃し配信番組も！</p>
        </div>
        <a href="https://premium.nicovideo.jp/payment/premium_detail?sec=premium_contents_top_detail" class="link-premium-detail">全てのプレミアムメリットはこちら</a>
        <div class="btn-premium unregistered">
            <a href="https://account.nicovideo.jp/premium/register?sec=premium_contents_top">
                <p class="regist">プレミアム会員登録</p>
            </a>
        </div>
    </div>
</div>