<div class="premium-header">
    <div class="premium-header-contents">
        <div class="premium-header-contents-kv">
            <h1 class="logo">プレミアム特典コンテンツ</h1>
            <div class="kv">
                <p class="kv-limited-video">限定動画も！</p>
                <p class="kv-minogashi">見逃し配信番組も！</p>
            </div>
        </div>
        <div class="user-status-premium">
            <div class="user-status-premium-header">
                プレミアム会員でログイン中です
            </div>
            <div class="user-status-premium-contents">
                <div class="user-icon">
                    {{# icons }}<img src="{{ https50x50 }}" /></p>{{/ icons }}
                </div>
                <div class="user-info">
                    <p class="name">{{nickname}}</p>
                    <span class="honor">さん</span>
                    は、このページの全コンテンツを視聴できます
                </div>
            </div>
        </div>
    </div>
</div>