<div class="normal-header">
    <div class="normal-header-contents">
        <h1 class="logo">プレミアム特典コンテンツ</h1>
        <div class="kv">
            <p class="kv-limited-video">限定動画も！</p>
            <p class="kv-minogashi">見逃し配信番組も！</p>
        </div>
        <a href="https://premium.nicovideo.jp/payment/premium_detail?sec=premium_contents_top_detail" class="link-premium-detail">全てのプレミアムメリットはこちら</a>
        <div class="user-status-normal">
            <div class="user-status-normal-contents">
                <div class="user-icon">
                    {{# icons }}<img src="{{ https50x50 }}" /></p>{{/ icons }}
                </div>
                <div class="user-info">
                    <p class="notes">一般会員でログイン中です</p>
                    <p class="name">{{nickname}}</p>
                    <span class="honor">さん</span>
                    はプレミアム会員になるとこのページの全コンテンツを視聴できます
                </div>
            </div>
            <div class="btn-premium btn-premium-small">
                <a
                    href="https://account.nicovideo.jp/premium/register?sec=premium_contents_top">
                    <p class="regist">プレミアム会員登録</p>
                </a>
            </div>
        </div>
    </div>
</div>