<div class="information" id="premium-contents-information">
    <script type="text/x-template" data-wktk-name="premium-contents-information"
        data-wktk-selector="#premium-contents-information" data-wktk-id="4">
        <div class="information-contents">
        {{=<# #>=}}
        {{#if items.[0]}}
            <a href="{{items.[0].values.url.url}}?ref=premium_contents_information" data-item_id="{{items.[0].itemId}}">{{items.[0].values.text.context}}</a>
        {{/if}}
        <#={{ }}=#>
    </div>
    </script>
</div>