<div class="lower" id="lower">
    <p class="lower-caution">※一部、プレミアム会員以外でも視聴できる<br class="sp-view" />無料公開コンテンツも含まれます</p>
    <div class="lower-inner">
        <div class="lower-inner-contents">
        </div>
    </div>
</div>