<div class="premium-contents" id="premiumContentsAnime">
    <div class="slider-list_outer_hidden">
        <div class="slider-list_outer">
            <div class="premium-contents-header">
                <h3 class="premium-contents-title">アニメ</h3>
                <a href="https://www.nicovideo.jp/tag/%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%E9%99%90%E5%AE%9A%E5%8B%95%E7%94%BB%EF%BC%88%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%EF%BC%89?genre=anime&sort=h&order=d&ref=premium_contents_limited_anime"
                    class="link-more pc-view">もっとみる</a>
            </div>
            <ul class="slider-list" id="premium-contents-limited-anime">
                <script type="text/x-template" data-wktk-name="premium-contents-limited-anime"
                    data-wktk-selector="#premium-contents-limited-anime" data-wktk-id="2">
                    {{=<# #>=}}
                    {{#each items}}
                    <li>
                        <a href="{{values.url.url}}" class="premium-url-format-anime">
                            <span class="premium-tag-new_{{isNew}}"></span>
                            <div class="slider-thumb">
                                <img src="{{values.image.url}}" alt="{{values.image.alt}}">
                            </div>
                            <div class="slider-info">
                                <p class="slider-title text-overflow">{{values.title.context}}</p>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                    <#={{ }}=#>
            </script>
            </ul>
            <!-- ブランクステート -->
            <div class="blank" id="blankLimitedAnime">
                <div class="blank-contents">
                    <div class="blank-attention">
                        <div class="blank-attention-icon"></div>
                        <p>コンテンツの取得に失敗しました</p>
                    </div>
                </div>   
            </div>
            <div class="link-more sp-view">
                <a
                    href="https://www.nicovideo.jp/tag/%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%E9%99%90%E5%AE%9A%E5%8B%95%E7%94%BB%EF%BC%88%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%EF%BC%89?genre=anime&sort=h&order=d&ref=premium_contents_limited_anime">もっとみる</a>
            </div>
        </div>
    </div>
</div><!-- .premium-contents -->

<div class="premium-contents" id="premiumContentsOther">
    <div class="slider-list_outer_hidden">
        <div class="slider-list_outer">
            <div class="premium-contents-header">
                <h3 class="premium-contents-title">エンターテイメント・ゲーム・音楽</h3>
                <a href="https://www.nicovideo.jp/tag/%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%E9%99%90%E5%AE%9A%E5%8B%95%E7%94%BB%EF%BC%88%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%EF%BC%89%20-%E3%82%A2%E3%83%8B%E3%83%A1?ref=premium_contents_limited_other"
                    class="link-more pc-view">もっとみる</a>
            </div>
            <ul class="slider-list" id="premium-contents-limited-other">
                <script type="text/x-template" data-wktk-name="premium-contents-limited-other"
                    data-wktk-selector="#premium-contents-limited-other" data-wktk-id="3">
                    {{=<# #>=}}
                    {{#each items}}
                    <li>
                        <a href="{{values.url.url}}" class="premium-url-format-other">
                            <span class="premium-tag-new_{{isNew}}"></span>
                            <div class="slider-thumb">
                                <img src="{{values.image.url}}" alt="{{values.image.alt}}">
                            </div>
                            <div class="slider-info">
                                <p class="slider-title text-overflow">{{values.title.context}}</p>
                            </div>
                        </a>
                    </li>
                    {{/each}}
                    <#={{ }}=#>
            </script>
            </ul>
            <!-- ブランクステート -->
            <div class="blank" id="blankLimitedOther">
                <div class="blank-contents">
                    <div class="blank-attention">
                        <div class="blank-attention-icon"></div>
                        <p>コンテンツの取得に失敗しました</p>
                    </div>
                </div>   
            </div>
            <div class="link-more sp-view">
                <a
                    href="https://www.nicovideo.jp/tag/%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%E9%99%90%E5%AE%9A%E5%8B%95%E7%94%BB%EF%BC%88%E3%83%97%E3%83%AC%E3%83%9F%E3%82%A2%E3%83%A0%EF%BC%89%20-%E3%82%A2%E3%83%8B%E3%83%A1?ref=premium_contents_limited_other">もっとみる</a>
            </div>
        </div>
    </div>
</div><!-- .premium-contents -->