$black: #000;
$niconico-black: #252525;
$white: #fff;
$gray:#eee;
$light-gray:#fafafa;
$premium: #d9a300;
$premium-hover: #c08a00;
$bg-premium: #fff3cf;
$dark-gray:#555;
$hover-blue: #0080ff;

/* ローディングの長さ */
$delay: 3.5s;